@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}
body {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(
      #0c1e7f 1.6500000000000001px,
      transparent 1.6500000000000001px
    ),
    radial-gradient(#0c1e7f 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
  background-size: 66px 66px;
  background-position: 0 0, 33px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  animation: changeColorBg 1s ease-in-out infinite;
  height: 90vh;
}
@keyframes changeColorBg { /* tiempos de una animacion*/
  0%{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
        #0c1e7f 1.6500000000000001px,
        transparent 1.6500000000000001px
      ),
      radial-gradient(#0c1e7f 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  50%{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
        #ff008e 1.6500000000000001px,
        transparent 1.6500000000000001px
      ),
      radial-gradient(#ff008e 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  100%{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
        #0c1e7f 1.6500000000000001px,
        transparent 1.6500000000000001px
      ),
      radial-gradient(#0c1e7f 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
}
.wave {
  position: absolute;
  bottom: -50px;
  width: 100%;
  overflow: hidden;
}
.waveRelleno {
  filter: drop-shadow(0 0 1rem #ff008e); /* drop-shadow(offset-x offset-y blur-radius color)  30px 10px 4px #4444dd    0 -6mm 4mm rgb(160, 0, 210)   0 0 0.75rem crimson*/
  animation: changeColor 2.5s ease-in-out infinite; /* animate( properties [, duration ] [, easing ] [, complete ] )*/
}
@keyframes changeColor {
  0% {
    fill: #0c1e7f;
    filter: drop-shadow(0 0 1rem #ff008e);
  }
  50% {
    fill: #ff008e;
    filter: drop-shadow(0 0 1rem #0c1e7f);
  }
  100% {
    fill: #0c1e7f;
    filter: drop-shadow(0 0 1rem #ff008e);
  }
}
.input {
  text-align: center;
  outline: none;
  width: 40%;
  height: 60px;
  border-radius: 30px;
  padding: 2rem;
  border: 3px solid #ff008e;
  font-size: 3rem;
  transition: border,box-shadow 0.5s ease-in-out;
}
.input:focus {
  border: 3px solid #0c1e7f;
  transition: border,box-shadow 0.5s ease-in-out;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.541);
}
.play {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  width: 20%;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  color: #e5e5f7;
  border-radius: 30px;
  background: #0c1e7f;
  transition: background,box-shadow 0.2s ease-in-out;
  cursor: pointer;
  z-index: 100;
  border: 0;
}
.play:hover {
  background: #ff008e;
  transition: background,box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 1rem #ff008e;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo{
  filter: drop-shadow(0 0 .2rem rgba(0, 0, 0, 0.705));
}
.letraS {
  animation: animacion 1s 1s ease-in-out infinite;
}
.letraN {
  animation: animacion 1s 1.1s ease-in-out infinite;
}
.letraA {
  animation: animacion 1s 1.2s ease-in-out infinite;/* animate( properties [, duration ] [, easing ] [, complete ] )*/
}
.letraK {
  animation: animacion 1s 1.3s ease-in-out infinite;
}
.letraE {
  animation: animacion 1s 1.4s ease-in-out infinite;
}
@keyframes animacion {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
