@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}
body {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(
      #0c1e7f 1.6500000000000001px,
      transparent 1.6500000000000001px
    ),
    radial-gradient(#0c1e7f 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
  background-size: 66px 66px;
  background-position: 0 0, 33px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  animation: changeColorBg 1s ease-in-out infinite;
  height: 100vh;
}
@keyframes changeColorBg {
  0%{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
        #0c1e7f 1.6500000000000001px,
        transparent 1.6500000000000001px
      ),
      radial-gradient(#0c1e7f 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  50%{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
        #ff008e 1.6500000000000001px,
        transparent 1.6500000000000001px
      ),
      radial-gradient(#ff008e 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  100%{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(
        #0c1e7f 1.6500000000000001px,
        transparent 1.6500000000000001px
      ),
      radial-gradient(#0c1e7f 1.6500000000000001px, #e5e5f7 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
}
.plantilla {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.columna1 {
  grid-area: 1 / 1 / 6 / 3;
  width: 100%;
  height: 100%;
}
.cajaInfo{
  background-color: #0c1d7fbe;
  border: #0c1e7f 5px solid;
  height: 100vh;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 1rem #000;
}
.logoPartida{
  filter: drop-shadow(0 0 .5rem #ff008c96);
  margin-bottom: 1rem;
  animation: animacionLogo 2s ease-in-out infinite;
}
@keyframes animacionLogo {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.line{
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #e8e9ee;
  margin: 30px 0px;
}
.tituloInfoP{
  color: #e8e9ee;
  font-weight: bolder;
  font-size: 2rem;
  text-shadow: 0 0 1rem #0c1e7f;
}
.nombreJugador,.puntos,.tiempo{
  color: #e8e9ee;
  font-weight: bolder;
  font-size: 5rem;
  text-shadow: 0 0 1rem #ff008e;
}
.btn{
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 60px;
  margin: 1rem 0px;
  line-height: 60px;
  color: #e5e5f7;
  border-radius: 30px;
  background: #0c1e7f;
  transition: background,box-shadow 0.2s ease-in-out;
  cursor: pointer;
  z-index: 900;
  border: 0;
}
.btn:hover {
  background: #ff008e;
  transition: background,box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 1rem #ff008e;
}
.columna2 {
  grid-area: 1 / 3 / 6 / 6;
  width: 100%;
  height: 100%;
  margin: 2.5rem;
}
.cajaJuego{
  background-color: #b91971a1;
  border: #0c1e7f 5px solid;
  height: 100vh;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 1rem #000;
}
.campoJuego{
  display: grid;
  grid-template-columns: repeat(10,1fr);
}